{% include 'header.html' %}
	<form action="/" method="POST">
		<input type="text" name="imgurl" placeholder="Put your Image URL here"><br>
		<input type="radio" name="mode" value="Handwritten">
			<label for="Handwritten">Handwritten</label>
		<br>
		<input type="radio" name="mode" value="Printed">
			<label for="Printed">Printed</label>
		<br>
		<input type="submit" value="Submit">
	</form>
	{% if ftext != None %}
		<p>{{ftext}}</p>
	{% endif %}
	<br>
	{% if fimage_url != None %}
		<img src="{{ fimage_url }}" alt="The Processed Image">
	{% endif %}
{% include 'footer.html' %}